{% extends "common/base.html" %}
{% block page_content -%}
    <h3>用户信息</h3>
    <div class="form-group">
        <label for="disabledTextInput">昵称</label>
        <input type="text" id="username" class="form-control" value="{{ current_user.username }}" readonly  ">
    </div>
    <div class="form-group">
        <label for="disabledSelect">邮箱地址</label>
        <input type="text" id="email" class="form-control" readonly value="{{ current_user.email }}" ">
    </div>

{% endblock page_content %}